{% extends "layout.html" %}

{% block title %}Ana Sayfa{% endblock %}

{% block content %}
    
    <div class='container'>
        <ul class='text-xs flex flex-row justify-center space-x-28 py-6'>
            <li class=''><a href='' class=''>Teslimat süresi: 4-6 iş günü</a></li>
            <li class=''><a href='' class=''>750 TL ve üzeri alışverişlerde ücretsiz kargo</a></li>
            <li class=''><a href='' class=''>Uygulamamızı indir</a></li>
        </ul>
    </div>
    <div class='container'>
        <div class='relative h-[600px]'>
            <a href='' class='absolute w-full '>
                <div class='relative w-full h-full'>
                    <div class='flex flex-row'>
                        <div class='flex flex-row w-full h-[600px] sm:h-[600px] object-cover overflow-hidden'>
                            <img src='{{ url_for('static', filename='images/home_banner_left.jpeg') }}' alt='img' class="w-1/2 object-cover hidden sm:inline blur-[0.8px] scale-105" />
                            <img src='{{ url_for('static', filename='images/home_banner.jpeg') }}' alt='img' class="w-full sm:w-1/2 object-cover blur-[0.8px] scale-105" />
                        </div>
                    </div>

                    <div class='bottom-0 absolute w-full flex flex-col gap-4'>
                        <h3 class="text-lg text-center ">YENİ ÜRÜNLER</h3>
                        <h3 class="text-4xl text-center font-bold">İlkbahara özel keten stiller ve baskılar</h3>
                        <div class=' w-full flex flex-row justify-center my-8'>
                            <div class=' bg-slate-950 hover:bg-slate-700 text-sm px-4 py-2 text-white font-medium'>Şimdi satın al</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        
    </div>
    <div class='container'>
        <h3 class='text-xl font-medium my-3'>Yeni Ürünler</h3>
        <ul class='flex flex-row gap-4 overflow-scrool my-3'>
            {% for category in categories%}
            <li>
                <a href="?category={{ category.slug }}" class="cursor-pointer px-5 py-3 rounded-full border border-black {% if category.slug == selected_category %} active_tab {% endif %}">
                    {{ category.name }}
                </a>
            </li>            
            {% endfor %}
        </ul>

        {% if products %}
        <swiper-container class="mySwiper pt-4" pagination="true" pagination-clickable="true" space-between="30"
        slides-per-view="4" navigation="true">
        
        {% for product in products %}
            <swiper-slide class="mb-8">
                <a href="" class='w-72 h-full'>
                    {% if product.cover_image %}
                        <!--<img src="{{ url_for('static', filename='images/product_images/' + product.cover_image) }}" alt="{{ product.name }}" class="w-full"> -->
                        <img src='{{product.cover_image}}' alt='{{product.name}}' class="w-full" />
                    {% endif %}
                    <div class='flex flex-col gap-0 my-2 items-start content-start '>
                        <h4 class="text-xs">{{ product.name }}</h4>
                        <span class="text-xs">{{ product.price }} TL</span>
                    </div>
                </a>
            </swiper-slide>
        {% endfor %}
        </swiper-container>

        {% else %}
            <h1 class='w-full bg-red-700 py-8 text-center items-center content-center text-white rounded-md my-4 '> There  are no new products in this section.</h1>
        {% endif %}
    </div>


{% endblock %}

